<!DOCTYPE html>
<html>

<head>
  <title>Tipos de Insumo</title>
  <style>
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 200px);
            grid-gap: 30px;
        }

    .grid-item {
      text-align: center;
    }

    button {
      width: 200px;
      height: 80px;
      font-size: 24px;
    }

    nav {
      background-color: red;
    }

    .navbar-nav .nav-link {
      color: white;
    }

    .navbar-nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  </style>
</head>

<body>
  <h1>Hola Usuario!</h1>
  <p>Que deseas hacer?</p>
  <div class="center-container">
    <div class="grid-container">
      <div class="grid-item">
        <a th:href="@{/tipoinsumos/create}" href="/tipoinsumos/create"><button>Agregar Tipos de Insumos</button></a>
      </div>
      <div class="grid-item">
        <a th:href="@{/tipoinsumos/read}" href="/tipoinsumos/read"><button>Revisar  Tipos de Insumos</button></a>
      </div>
      <div class="grid-item">
        <a th:href="@{/tipoinsumos/search}" href="/tipoinsumos/search"><button>Editar Tipos de Insumos</button></a>
      </div>
      <div class="grid-item">
       <a th:href="@{/insumos}" href="/insumos"> <button >Ir a Insumos</button></a>
      </div>
    </div>
  </div>

</body>

</html>