<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Ver Tipos de Insumos</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        nav {
            background-color: red;
        }

        .navbar-nav .nav-link {
            color: white;
        }

        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/tipoinsumos}" href="/tipoinsumos">Menu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/tipoinsumos/create}"
                        href="/tipoinsumos/create">Agregar Tipo de Insumos</a>
                    <a class="nav-link" th:href="@{/tipoinsumos/read}"
                    href="/tipoinsumos/read">Ver Tipo de Insumos</a>
                    <a class="nav-link" th:href="@{/tipoinsumos/search}"
                    href="/tipoinsumos/search">Editar Tipo de Insumos</a>
                </div>
            </div>

        </div>
    </nav>

        <table>
            <tr>
                <th>Identificador</th>
                <th>Nombre</th>
                <th>Descripcion</th>
  
            </tr>

                <tr  th:each="tipoInsumo : ${tipoInsumos}">
                    <td th:text="${tipoInsumo.getTipoInsumoID()}">Row 1, Column 1</td>
                    <td th:text="${tipoInsumo.getNombre()}">Row 1, Column 2</td>
                    <td th:text="${tipoInsumo.getDescripcion()}">Row 1, Column 2</td>
                </tr>


            <!-- Add more rows as needed -->
        </table>
        </div>
</body>

</html>