<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Ver Insumos</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        nav {
            background-color: red;
        }

        .navbar-nav .nav-link {
            color: white;
        }

        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/insumos}" href="/insumos">Menu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/insumos/create}"
                        href="/insumos/create">Agregar Insumos</a>
                    <a class="nav-link" th:href="@{/insumos/read}"
                    href="/insumos/read">Ver Insumos</a>
                    <a class="nav-link" th:href="@{/insumos/search}" href="/insumos/search">Editar Insumos</a>
                </div>
            </div>

        </div>
    </nav>

        <table>
            <tr>
                <th>Identificador</th>
                <th>Cantidad</th>
                <th>Fecha de Fabricacion</th>
                <th>Fecha de Expiracion</th>
                <th>Esta Caducado?</th>
                <th>Identificador de Tipo de Insumo</th>                
  
            </tr>

                <tr  th:each="insumo : ${insumo}">
                    <td th:text="${insumo.getInsumoID()}">Row 1, Column 1</td>
                    <td th:text="${insumo.getCantidad()}">Row 1, Column 2</td>
                    <td th:text="${insumo.getFechaFabricacion()}">Row 1, Column 2</td>
                    <td th:text="${insumo.getFechaExpiracion()}">Row 1, Column 1</td>
                    <td th:text="${insumo.getEsCaducado()}">Row 1, Column 2</td>
                    <td th:text="${insumo.getTipoInsumoID()}">Row 1, Column 2</td>
                </tr>


            <!-- Add more rows as needed -->
        </table>
        </div>
</body>

</html>