<!DOCTYPE html>
<html>

<head>
    <title>Editar Tipo de Insumo</title>
    <style>
        nav {
            background-color: red;
        }

        .navbar-nav .nav-link {
            color: white;
        }

        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        .form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            /* Two equal columns */
            grid-gap: 10px;
            text-align: center;
            max-width: 400px;
            /* Optional: Set a maximum width for the form */
            margin: 0 auto;
            /* Optional: Center the form horizontally */
        }

        .form div {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 10px;
            /* Add margin between labels */
        }

        input {
            padding: 5px;
        }

        button {
            margin-top: 10px;
        }
    </style>

<script>
    function confirmacion() {
        alert("Registro realizado");
    }
</script>

</head>

<body>
    <h1>Ingrese el ID del Tipo de Insumo a modificar</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/tipoinsumos}" href="/tipoinsumos">Inventario</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/tipoinsumos/create}"
                        href="/tipoinsumos/create">Agregar Tipos de Insumos</a>
                    <a class="nav-link" th:href="@{/tipoinsumos/read}" href="/tipoinsumos/read">Ver Tipos de Insumos</a>
                    <a class="nav-link" th:href="@{/tipoinsumos/search}" href="/tipoinsumos/search">Editar Tipos de Insumos</a>
                </div>
            </div>

        </div>
    </nav>
    <div class="center-container">
        <div class="form">
            <form th:action="@{/tipoinsumos/search}" method="post" th:object="${tipoInsumo}">
                <div>
                    <label>Tipo Insumo ID</label>
                    <input th:field="*{tipoInsumoID}" type="number">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" onClick="confirmacion()">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>