<!DOCTYPE html>
<html>

<head>
    <title>Editar Insumo</title>
    <style>
        nav {
            background-color: red;
        }

        .navbar-nav .nav-link {
            color: white;
        }

        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        .form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            /* Two equal columns */
            grid-gap: 10px;
            text-align: center;
            max-width: 400px;
            /* Optional: Set a maximum width for the form */
            margin: 0 auto;
            /* Optional: Center the form horizontally */
        }

        .form div {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 10px;
            /* Add margin between labels */
        }

        input {
            padding: 5px;
        }

        button {
            margin-top: 10px;
        }
    </style>
    <script>
        function confirmacion() {
            alert("Registro realizado");
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/insumos}" href="/insumos">Menu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/insumos/create}"
                        href="/insumos/create">Agregar Insumos</a>
                    <a class="nav-link" th:href="@{/insumos/read}" href="/insumos/read">Ver Insumos</a>
                    <a class="nav-link" th:href="@{/insumos/update}" href="/insumos/update">Editar Insumos</a>
                </div>
            </div>

        </div>
    </nav>
    <div class="center-container">
        <div class="form">
            <form th:action="@{/insumos/update}" method="post" th:object="${insumo}">

                <div>
                    <label>Cantidad</label>
                    <input th:field="*{cantidad}" th:value="*{cantidad}" type="number">
                </div>
                <div>
                    <label>Fecha De Fabricacion</label>
                    <input th:field="*{fechaFabricacion}"  type=date>
                </div>
                <div>
                    <label>Fecha De Expiracion</label>
                    <input th:field="*{fechaExpiracion}"  type="date">
                </div>
                <div>
                    <label>ID de Tipo de Insumo</label>
                    <input th:field="*{tipoInsumoID}" th:value="*{tipoInsumoID}" type="number">
                </div>


                <button type="submit" class="btn btn-primary" onClick="confirmacion()">Agregar</button>
            </form>
        </div>
    </div>
</body>

</html>